@import "../../app/styles/colors";

.paginationContainer {
  background-color: $BackgroundBeige;
  padding: 20px 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.paginationButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pageNumber {
  width: 30px;
  text-align: center;
}
