@import "../styles/colors";

.container {
  background-color: $BackgroundBlack;
  color: $BackgroundBlack;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  animation-fill-mode: forwards;
  animation: fadeIn 1.5s;
  -webkit-animation-fill-mode: forwards; /* Add the -webkit prefix for animation-fill-mode */
  -webkit-animation: fadeIn 1.5s; /* Add the -webkit prefix for animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shop {
  position: relative;
  background-color: $BackgroundBeige;
  display: flex;
  flex-direction: column;
  h1 {
    margin: 120px 0 0px 300px;
    font-size: 30px;
    font-weight: 300;
    color: $BackgroundBlack;
  }
}

.item {
  position: relative;
  width: 100%;
  background-color: $BackgroundBeige;
  overflow: hidden;
  height: auto;
  .searchBar {
    margin-left: 300px;
    padding: 30px 0;
  }
  .paginationAndDropdown {
    margin-left: 300px;
    padding-bottom: 120px;
  }
}

.bottomContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $BackgroundBeige;
}

.sidebarAndResults {
  max-width: 1500px;
  min-width: 650px;
  margin: 0 300px;
}

.aboutUsFilter {
  background: linear-gradient(
    180deg,
    rgba(16, 75, 71, 0.6) 0%,
    rgba(33, 51, 50, 0.6) 19.27%,
    rgba(27, 29, 30, 0.6) 52.08%
  );
}

/* Styles for tablet */
@media screen and (max-width: 1440px) {
  .sidebarAndResults {
    max-width: 1500px;
    min-width: initial;
    margin: 0 300px;
  }
}

/* Styles for tablet */
@media screen and (max-width: 1280px) {
  .shop {
    width: 100%;
    position: initial;
    background-color: #e4e4e1;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    h1 {
      margin: 100px 0 0px 130px;
      font-size: 28px;
      font-weight: 300;
      color: $BackgroundBlack;
    }
  }
  .item {
    .searchBar {
      margin-left: 130px;
      padding: 30px 0;
    }
    .paginationAndDropdown {
      margin-left: 130px;
      padding-bottom: 100px;
    }
  }

  .sidebarAndResults {
    max-width: 1500px;
    min-width: 650px;
    margin: 0 130px;
  }
}

/* Styles for tablet */
@media (max-width: 1030px) {
  .shop {
    width: 100%;
    position: initial;
    background-color: #e4e4e1;
    display: flex;

    align-items: center;
    padding-top: 50px;
    h1 {
      margin: 0px;
      font-size: 28px;
      font-weight: 300;
      color: $BackgroundBlack;
    }
  }
  .item {
    position: relative;
    width: 100%;
    background-color: $BackgroundBeige;

    .searchBar {
      margin: 0px;
      padding: 0px;
    }
    .paginationAndDropdown {
      margin: 0px;
      padding: 0px;
    }
  }
  .searchBarAndDropdown {
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
    padding-top: 20px;
    padding-bottom: 50px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

/* Styles for tablet */
@media (max-width: 760px) {
  .searchBarAndDropdown {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    padding-bottom: 5px;
    padding-top: 50px;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 0px;
    position: relative;
  }
  .sidebarAndResults {
    min-width: initial;
    margin: 0 100px;
    display: flex;
    width: 100%;
    margin: 0px;
    flex-direction: column;
  }
  .searchBar {
    width: 100%;
  }
  .paginationAndDropdown {
    position: absolute;
    bottom: 7.5px;
    right: 15px;
  }
}
