@import "../styles/colors";

.container {
  min-height: 100vh;
  position: relative;
  animation-fill-mode: forwards;
  animation: fadeIn 1.5s;

  -webkit-animation-fill-mode: forwards;
  -webkit-animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 35vh;
  width: 100%;
  opacity: 10%;
  filter: grayness(40%);
}

.introTitle {
  position: relative;
  display: flex;
  background-color: $BackgroundBlack;
  height: 25vh;
  h1 {
    margin: 120px 0 80px 300px;
    font-size: 30px;
    font-weight: 300;
    color: $White;
  }
}

.intoContainer {
  height: auto;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $White;
  background-color: $BackgroundBlack;
}

.intro {
}

.introItem {
  padding: 120px 450px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #1b1d1e 0%, #e4e4e1 100%);
  h2 {
    font-size: 24px;
    font-weight: 400;
    border-bottom: 2px solid white;
  }
  p {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 300;
  }
}

.aboutUsFilter {
  background: linear-gradient(
    180deg,
    rgba(16, 75, 71, 0.6) 0%,
    rgba(33, 51, 50, 0.6) 19.27%,
    rgba(27, 29, 30, 0.6) 52.08%
  );
}

.shouldKnowContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $BackgroundBeige;
  padding: 120px 450px;
}

.shouldKnow {
  width: 100%;
  max-width: 1342px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  padding-top: 0;
  h2 {
    font-size: 24px;
    font-weight: 400;
    color: $LogoGreen;
    border-bottom: 2px solid $LogoGreen;
  }
  h3 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    color: $LogoGreen;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 100px;
    color: $Brown;
  }
}

.shouldKnowItem {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    text-align: center;
    padding: 0px;
    padding-top: 30px;
    font-weight: 400;
    color: $LogoGreen;
  }
  ul {
    list-style-type: square;
    padding: 0;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: $Brown;
  }
}

.contactUs {
  position: relative;
  background-color: $BackgroundBeige;
  display: flex;
  align-items: center;
  h1 {
    margin: 0px 0 20px 300px;
    font-size: 30px;
    font-weight: 300;
    color: $BackgroundBlack;
  }
}

/* Styles for tablet */
@media screen and (max-width: 1640px) {
  .img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 45vh;
    width: 100%;
    opacity: 10%;
    filter: grayness(40%);
  }
}

/* Styles for tablet */
@media screen and (max-width: 1440px) {
  .img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 45vh;
    width: 100%;
    opacity: 10%;
    filter: grayness(40%);
  }

  .introTitle {
    position: relative;
    display: flex;
    background-color: $BackgroundBlack;
    height: 17vh;
    h1 {
      margin: 120px 0 80px 300px;
      font-size: 30px;
      font-weight: 300;
      color: $White;
    }
  }

  .intoContainer {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: $White;
    background-color: $BackgroundBlack;
  }

  .introItem {
    padding: 120px 150px;
  }

  .shouldKnowContainer {
    width: auto;
    padding: 150px;
  }
  .shouldKnow {
    padding: 0;
  }
  .shouldKnowItem {
    h3 {
      text-align: center;
      padding: 0px;
      padding-top: 30px;
      font-weight: 400;
      color: $LogoGreen;
    }
  }
}

/* Styles for tablet */
@media (max-width: 1030px) {
  .intoContainer {
    background-color: $BackgroundBlack;
    color: $White;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 30vh;
    width: 100%;
    opacity: 10%;
    filter: grayness(40%);
  }
  .intro {
    width: 100%;
  }
  .introTitle {
    background-color: $BackgroundBlack;
    display: flex;
    // position: initial;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding: 0px;

    h1 {
      margin: 0px;
      font-size: 26px;
      font-weight: 300;
      color: $White;
    }
  }
  .introItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 50px;
    background: $BackgroundBlack;
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      border-bottom: 2px solid white;
    }
    p {
      padding-top: 30px;
      font-size: 15px;
      font-weight: 300;
    }
  }

  .shouldKnowContainer {
    padding: 0;
    width: 100%;
    display: flex;
    background: $BackgroundBeige;
  }

  .shouldKnow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 50px;
    padding-bottom: 0;
    h2 {
      text-align: center;
      margin: 0;
      font-size: 24px;
      font-weight: 400;
      color: $LogoGreen;
      border-bottom: 2px solid $LogoGreen;
    }
  }

  .shouldKnowItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      text-align: center;
      padding: 0px;
      padding-top: 30px;
      font-size: 20px;
      font-weight: 400;
      color: $LogoGreen;
    }
    ul {
      list-style-type: square;
      padding: 0;
      padding-top: 10px;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
      color: $Brown;
    }
  }

  .contactUs {
    position: relative;
    background-color: $BackgroundBeige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    h1 {
      margin: 0;
      font-size: 26px;
      font-weight: 300;
      color: $BackgroundBlack;
    }
  }
}

/* Styles for phones */
@media (max-width: 390px) {
  .intoContainer {
    background-color: $BackgroundBlack;
    color: $White;
    height: 100%;
    width: 100%;
  }
  .intro {
    width: 100%;
  }
  .introTitle {
    background-color: $BackgroundBlack;
    display: flex;
    position: initial;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding: 0px;

    h1 {
      margin: 0px;
      font-size: 26px;
      font-weight: 300;
      color: $White;
    }
  }
  .introItem {
    height: auto;
    padding: 0 50px;
    padding-bottom: 100px;
    background: $BackgroundBlack;
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      border-bottom: 2px solid white;
    }
    p {
      padding-top: 30px;
      font-size: 15px;
      font-weight: 300;
    }
  }

  .shouldKnowContainer {
    padding: 0;
    width: 100%;
    display: flex;
    background: $BackgroundBeige;
  }

  .shouldKnow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding: 50px;
    h2 {
      text-align: center;
      margin: 0;
      font-size: 24px;
      font-weight: 400;
      color: $LogoGreen;
      border-bottom: 2px solid $LogoGreen;
    }
  }

  .shouldKnowItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      text-align: center;
      padding: 0px;
      padding-top: 10px;
      font-size: 20px;
      font-weight: 400;
      color: $LogoGreen;
    }
    ul {
      list-style-type: square;
      padding: 0;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
      color: $Brown;
    }
  }

  .contactUs {
    position: relative;
    background-color: $BackgroundBeige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    h1 {
      margin: 0;
      font-size: 26px;
      font-weight: 300;
      color: $BackgroundBlack;
    }
  }
}

@media (max-width: 300px) {
  .introTitle {
    h1 {
      font-size: 22px;
    }
  }
  .contactUs {
    h1 {
      font-size: 22px;
    }
  }
}
