@import "../../app/styles/colors";

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 110px;
  z-index: 999;
  padding: 5px;
  cursor: pointer;
  &:hover {
    animation: arrowUp 1s infinite;
    -webkit-animation: arrowUp 1s infinite; /* Add the -webkit prefix for animation */
  }
}

@keyframes arrowUp {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, -10px);
    opacity: 0;
  }
}

@-webkit-keyframes arrowUp {
  0% {
    -webkit-transform: translate(
      0,
      0
    ); /* Add the -webkit prefix for transform */
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(
      0px,
      -10px
    ); /* Add the -webkit prefix for transform */
    opacity: 0;
  }
}

/* Styles for tablet */
@media (max-width: 760px) {
  .scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 999;
    padding: 5px;
    cursor: pointer;
    &:hover {
      animation: arrowUp 1s infinite;
      -webkit-animation: arrowUp 1s infinite; /* Add the -webkit prefix for animation */
    }
  }
}
