@import "../../app/styles/colors";

.container {
  height: 100vh;
  width: 100%;
  justify-content: center;
  background-color: $BackgroundBeige;
  position: relative;
  display: flex;
  overflow: hidden;
}

.feature {
  margin: 0px 450px;
  position: absolute;
  top: 15vh;
  color: $LogoGreen;
  font-weight: 400;
  h2 {
    margin: 0 0 40px 0;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 2px solid $LogoGreen;
  }
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

  h3 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    color: $LogoGreen;
  }
  p {
    font-size: 20px;
    color: $Brown;
    // padding: 20px;
    font-weight: 400;
  }
}

.containerItem {
  display: flex;
  flex-direction: row;
}

// .leftItem {
// }

.rightItem {
  padding-left: 60px;
}
