@import "../../app/styles/colors";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 18vh;
  padding: 0 250px 0 240px;
  background-color: transparent;
  z-index: 1;
}

.logoImg {
  width: 200px;
  position: relative;
  left: 0px;
  top: 8px;
}

.links {
  display: flex;
  gap: 0px;
  font-size: 17px;
  color: $White;
  cursor: pointer;

  .link {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 20px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.08em;
      background-color: rgba(255, 255, 255, 0.8);
      transition: transform 100ms;
      transform: translate3d(-101%, 0, 0);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    &:hover::after {
      opacity: 0.8;
      transform: translate3d(0, 0, 0);
    }
  }
}

.toggleButton {
  position: absolute;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggleButton .bar {
  height: 2px;
  width: 100%;
  background-color: $White;
  border-radius: 10px;
}
.burgerLinks {
  display: none;
}

/* Styles for tablet */
@media (max-width: 1280px) {
  .container {
    padding: 0 120px 0 110px;
  }
}

/* Styles for tablet */
@media (max-width: 1030px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0;
    background-color: transparent;
  }

  .logoAndButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .logoImg {
    width: 180px;
    position: initial;
  }
}
/* Styles for phones */
@media screen and (max-width: 760px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: initial;
    text-align: center;
    z-index: 1;
    padding: 0;
  }

  .logoAndButton {
    height: 15vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .logoImg {
    position: initial;
    width: 20vh;
  }
  .toggleButton {
    display: flex;
  }

  .links {
    display: none;
  }

  .burgerLinks {
    z-index: 1;
    position: absolute;
    top: 15vh;
    display: flex;
    gap: 0px;
    font-size: 16px;
    background-color: $BackgroundBlack;
    color: $White;
    width: 100%;
    flex-direction: column;
    .link {
      text-decoration: none;
      padding: 20px;
      &:hover {
        opacity: 65%;
        border-bottom: 0.5px solid $White;
      }
    }
  }
}
