@import "../../app/styles/colors";

.container {
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 170px 0 120px;
  overflow: hidden;
  // background-color: #353535;
}

.logoImg {
  width: 100px;
  position: relative;
  left: 0px;
  top: 5px;
  background-color: rgb(176, 164, 158);
}

.links {
  display: flex;
  gap: 0px;
  font-size: 17px;
  color: $White;
  cursor: pointer;

  .link {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 20px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.08em;
      background-color: rgba(255, 255, 255, 0.8);
      transition: transform 100ms;
      transform: translate3d(-101%, 0, 0);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    &:hover::after {
      opacity: 0.8;
      transform: translate3d(0, 0, 0);
    }
  }
}
