@import "../../app/styles/colors";

.searchResult {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: $BackgroundBeige;
}

.resultItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 20px);
  padding: 30px 0;
  box-sizing: border-box;
  background-color: rgba(27, 29, 30, 0.15);
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    background-color: rgba(27, 29, 30, 0.35);
  }
}

.itemBox {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
  width: 100%;
  // min-width: 100%;
  font-size: 24px;
  font-weight: 600;
}

.plateNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  min-width: 120px;
  background-color: $BackgroundBeige;
  border-radius: 8px;
  border: 3px solid black;
  overflow: hidden;
}

.itemPrice {
  color: $Black;
  font-size: 17px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
